{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Adobe Call Parser</h1>
        <p> Adobe call Parser created with <a href="https://codepen.io">CodePen</a></p>
    <p> Extract key value pairs from the raw string of data sent to Adobe Analytics</p>
    </div>
</div>

<div class="container">
    


    <iframe height="600" style="width: 100%;" scrolling="no" title="Parsing Adobe Calls" src="https://codepen.io/quincysmiith/embed/qjQJNr?default-tab=result&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href="https://codepen.io/quincysmiith/pen/qjQJNr">
        Parsing Adobe Calls</a> by marquin (<a href="https://codepen.io/quincysmiith">@quincysmiith</a>)
        on <a href="https://codepen.io">CodePen</a>.
    </iframe>


</div>
{% endblock %}
