<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap.css')}}>

        <!-- Matomo -->
            <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//marquinsmith.com/piwik/piwik/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
        <!-- End Matomo Code -->





    </head>

    <body>

        {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Marquin's Tools</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/percdiff">Percentage Difference</a></li>
                        <li><a href="/weightlog">Weight Log</a></li>
                        <li><a href="/wellness">Wellness</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        </div>


        {% endblock %}

        {% block content %}
        {% endblock %}


    </body>





</html>