{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Utilities for Marquin</h1>
    </div>
</div>

<div class="container">
    <h2>Analytics Utilities</h2>

    <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/percdiff">Percentage Difference</a></button>
    <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/adobeparser">Adobe Call Parser</a></button>
    <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/harparser">Har File Parser</a></button>

</div>

<div class="container">

    <h2>Wellness and Personal Growth Utilities</h2>

    <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/weightlog">Weight Log</a></button>
    <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/wellness">Wellness</a></button>
    <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/movementpractice">Movement Practice</a></button>
</div>


{% endblock %}