{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Wellness Logger</h1>
        <p> Track activities that promote wellness and personal development</p>
    </div>
</div>

<div class="container">
    <form action="/wellness" method="POST">
        {{ yoga_form.hidden_tag() }}
        <div class="form-group">
            <p></p>
            {{ yoga_form.user.label }} 
            <p></p>
            {{ yoga_form.user() }}
            <p></p>
        </div>

        <div class="form-group">
            <p></p>
            {{ yoga_form.activity.label }} 
            <p></p>
            {{ yoga_form.activity() }}
            <p></p>
        </div>
        <div>
            <p></p>
            <p></p>
            <p></p>
            {{ yoga_form.submit() }}
        </div>
        
    </form>


    {% for field, errors in yoga_form.errors.items() %}
    <div class="alert alert-warning">
        {{ yoga_form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}


</div>
{% endblock %}